@font-face {
    font-family: 'hebrewFont'; /* Replace with your font's name */
    src: url('src/fonts/SecularOne-Regular.ttf')format('truetype'); /* Adjust path and format if needed */
    font-weight: normal;
    font-style: normal;
  }